* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

body {
  font-size: 1rem;
	font-weight: 400;
	padding-bottom: 100px;
}

#main-load {
}

#main-load h1 {
  text-align: center;
	margin: 50px;
}

#main-load .list {
  padding: 30px;
  margin: 50px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
}

#main-load .hide {
  opacity: 0;
  transition: 0.3s;
}

.color {
	background: #0984e3;
}

.color1 {
  background: #54a0ff;
}

.color2 {
  background: #00d2d3;
}

.color3 {
  background: #01a3a4;
}

.color4 {
  background: #1dd1a1;
}

.color5 {
  background: #10ac84;
}

.color6 {
  background: #48dbfb;
}

.color7 {
  background: #0abde3;
}

.color8 {
  background: #ff6b6b;
}

.color9 {
	background: #ff9f43;
}

.color10 {
	background: #ff9ff3;
}

/* .spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounce 1.4s infinite ease-in-out both;
  animation: bounce 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bounce {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
} */


.spinner {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.spinner.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}