* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

body {
  font-size: 1rem;
	font-weight: 400;
}

.carousel-container {
	width: 60%;
	margin: auto;
	margin-top: 70px;
	overflow: hidden;

}

.carousel-slide {
	display: flex;
	width: 100%;
	height: 500px;
}

.carousel-slide img {
	width: 100%;
	height: 100%;
}

.pre {
	padding: 15px;
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	color: #fff;
	top: 50%;
	left: 20%;
	border-radius: 2px;
	transition: .2s;
}

.next {
	padding: 15px;
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	color: #fff;
	top: 50%;
	right: 20%;
	border-radius: 2px;
	transition: .2s;
}

.pre:hover,
.next:hover {
	background-color: rgba(0, 0, 0, .7);
}

h1 {
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}